@media (max-width: 2000px) {
  .img-footer.endl-2 img {
    margin-top: 191px;
    width: 681px;
    margin-left: 460px;
  }
}

@media (max-width: 1440px) {
  .img-footer.endl-2 img {
    margin-top: 238px;
    width: 560px;
    margin-left: -130px;
  }

  .banner-img img {
    height: 600px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  /* .img-footer.endl-2 img{
    margin-top: 240px;
  } */

  .ml6 .text-wrapper {
    top: 11px;
  }

  .main-heading h1 {
    font-size: 28px;
  }

  .phone.endl-2 a {
    font-size: 14px;
  }

  p.small-para {
    font-size: 16px !important;
  }

  ul.navbar-nav li a {
    font-size: 14px;
    font-weight: 400;
    padding: 0 0;
  }

  .two-last-endl {
    padding: 0px 0px;
  }

  header a.navbar-brand {
    margin: 0;
  }

  header li.nav-item a.nav-link.active:before {
    bottom: -6px;
  }

  .main-heading {
    left: 40px;
  }

  .man-img img {
    margin-top: 50px;
  }

  .main-heading h1 span {
    font-size: 28px;
  }

  ul.list-items-parent {
    margin: 0;
    font-size: 13px;
    width: 58%;
  }

}

@media (max-width: 1199px) {
  .img-footer.endl-2 img {
    margin-top: 221px;
    width: 360px;
    margin-left: -90px;
  }

  a.call {
    font-size: 12px;
  }

  .btn-custom {
    padding: 4px 8px;
    font-size: 14px;
  }

  header a.navbar-brand {
    width: 200px;
    margin-right: 1rem;
  }

  a.navbar-brand img {
    width: 100%;
  }

  .about p.para-1 {
    width: 100%;
  }

  .last-endl {
    padding-top: 0;
  }

  footer:before {
    bottom: 270px;
  }

  .brand-sec {
    padding: 1rem 0 2rem;
  }

  .speak-sec {
    padding: 3rem 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
  }

  nav.navbar.navbar-expand-lg {
    padding: 0;
  }

}

@media (max-width: 991px) {

  .navbar-nav .nav-link {
    margin-bottom: 8px;
  }

  a.call {
    margin-bottom: 12px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
  }

  a.call {
    justify-content: center;
  }

  div#navbarSupportedContent {
    text-align: center;
    padding-bottom: 2rem;
  }

  header li.nav-item a.nav-link.active:before {
    left: 340px;
    bottom: 0px;
  }

  .health img {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .health {
    margin-bottom: 2rem;
  }

  .enld2 {
    justify-content: start;
  }

  .last-endl {
    padding-top: 0;
  }

  .drop-menu {
    position: unset;
  }

  .talk-insurance img {
    margin: auto;
    width: 10%;
    margin-top: 40px;
  }

  .financial-assistance {
    display: block;
    height: auto;
  }

  .financial-discription {
    width: 100%;
  }

  .talk-insurance {
    height: auto;
    margin-bottom: 3rem;
    padding: 0 0 2rem;
  }

  .card .card-header button {
    white-space: normal;
    display: block;
  }

  footer:before {
    bottom: 280px;
  }

  .health {
    width: 60%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .quote {
    padding-left: 10px;
    padding-right: 10px;
  }

  .img-footer.endl-2 img {
    margin-top: -55px;
    width: 490px;
    margin-left: 240px;
  }

}

@media (max-width: 767px) {

  .main-heading h1 {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 1rem;
    color: white;
  }

  .btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-sec {
    position: relative;
    z-index: 0;
  }

  .main-sec .banner-img::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    background: #00000078;
    z-index: 1;
  }

  .ml6 .text-wrapper {
    top: 10px;
  }

  .main-heading {
    left: 40px;
  }

  .main-heading h3 {
    color: white;
  }

  .main-sec span.blue {
    color: white !important;
  }

  h2.side-heading {
    font-size: 26px;
    margin: 0;
    padding-bottom: 0;
  }

  .health {
    width: 80%;
  }

  .health p.para-1 {
    width: 100%;
    height: auto;
  }

  .quote {
    padding: 30px 20px;
  }

  .speak a.btn.btn-custom {
    font-size: 18px;
  }

  .faq {
    margin-top: 3rem;
  }

  h2.side-heading {
    margin-bottom: 1rem;
  }

  .footer-logo p {
    width: 100%;
  }

  footer:before {
    display: none;
  }

  .img-footer.endl-2 img {
    width: 400px;
  }

  .man-img img {
    margin-top: 75px;
  }

  .thing img {
    height: 200px;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .brand h2.side-heading {
    padding-bottom: 0px;
  }

  .main-footer p {
    line-height: 18px;
    text-align: start;
  }

  .tabs-coverage h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .financial-name {
    width: 100%;
    margin-bottom: 14px;
  }

  .main-heading h1 {
    font-size: 28px;
  }

  .main-heading h1 {
    font-size: 28px;
    color: black;
  }

  .find-us h5 {
    width: 100%;
  }

  .forn-info form .form-group {
    padding: 4px 8px;
    margin-bottom: 10px;
  }

  .img-footer.endl-2 {
    display: none;
  }

  #regForm {
    margin: 60px auto;
    padding: 0;
    width: 100%;
    min-width: 100%;
  }

}

@media (max-width: 575px) {

  #regForm {
    margin: 60px auto;
    padding: 0;
    width: 100%;
    min-width: 100%;
  }

  .ml6 .text-wrapper {
    top: 10px;
  }

  .main-heading {
    left: 15px;
  }

  .main-heading h1 {
    font-size: 30px;
    color: white;
    /* border-bottom: 1px solid #2d325c; */
  }

  .main-heading h3 {
    font-size: 18px;
    font-weight: 400 !important;
  }

  span.blue {
    font-style: normal;
  }

  h2.side-heading {
    font-size: 18px;
  }

  h2.side-heading {
    font-size: 18px;
  }

  .slider img {
    width: 100px !important;
    margin: auto;
    height: 30px;
  }

  p.para-1 {
    font-size: 16px;
  }

  .health {
    width: 100%;
  }

  .code input {
    width: 70%;
  }

  .quote {
    padding: 10px 10px;
  }

  .flux-div-main {
    align-items: end !important;
  }

  .email-quote {
    display: flex;
    font-size: 14px;
  }

  .health-btn {
    text-align: center;
    margin-top: 20px;
  }

  header li.nav-item a.nav-link.active:before {
    left: 170px;
    bottom: 0px;
  }

  .navbar-nav .nav-link {
    margin-bottom: 10px;
    border-bottom: 1px solid #2d325c;
    padding-bottom: 10px;
  }

  header li.nav-item a.nav-link.active:before {
    left: 170px;
    bottom: 14px;
  }

  .accordionStyle .card .card-header button .fas {
    right: 4px;
  }

  section.inner-banner.contact-banner h1 {
    color: #000000;
  }


  #regForm {
    margin: 60px auto;
    padding: 0;
    width: 100%;
    min-width: 100%;
    /* background-color: blue; */
  }

  .sec-text-form .tab {
    color: #2b325b;
    font-size: 16px;
    text-align: center;
    padding: 10px 0px;
  }

  .sec-text-form button {
    padding: 8px 14px;
  }

  .sec-text-form h1 {
    text-align: center;
    font-size: 2rem;
  }
}

@media (max-width: 320px) {

  #regForm {
    margin: 60px auto;
    padding: 0;
    width: 100%;
    min-width: 100%;
    /* background-color: black; */
  }

  .sec-text-form h1 {
    font-size: 18px;
  }

  .sec-text-form .tab {
    font-size: 18px;
  }

  .individual-family label {
    padding: 0px;
  }

}