@media (max-width: 2000px) {
  .img-footer.endl-2 img {
    margin-top: 191px;
  }
}

@media (max-width: 1440px) {
  .banner-img img {
    height: 600px;
  }

  /* .img-footer.endl-2 img{
    margin-top: 240px;
  } */

  .phone.endl-2 a {
    font-size: 14px;
  }

  p.small-para {
    font-size: 16px !important;
  }

}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 575px) {}